header.header
  nav.nav.nav--tours
    a.nav__el(href='/') Sonia The Owly
  .header__logo
    img(src='/img/logo.png' alt='logo')
  nav.nav.nav--user
    a.nav__el(href='/createArt') Add new
    a.nav__el(href='/allarts') Artworks
    a.nav__el(href='/login') Log in