doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='stylesheet' href='/css/stylelogin.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title Portfolio | #{title}

    body 
        // HEADER
        include _header

        // CONTENT
        block content
        .wrapper_login 
            img.image_login(src='/img/login.jpg')
            .sign-in-container
                form.form.sign-in-form(role='form')
                    label(for='username') Username: 
                        input(type='text' placeholder='Input name' id="username" name="username")
                    label(for='password') Password: 
                        input(type='text' placeholder='Input password' id="password" name="password")
                    input.loginBth(type="submit" value="Submit")
    // FOOTER
    include _footer

    script(src='/login.js')

